@use '../abstracts/' as *;

.body--overflow {
  overflow: hidden;
}

.navbar {
  z-index: 3;
  padding: $s-xl-em $s-xl;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition:
    padding $speed1 ease-in-out,
    background-color $speed1 ease-in-out,
  ;

  &--scrolled {
    background-color: rgba($secondary-color, 0.7);
    padding: $s-lg-em $s-xl;
  }

  &__toggler-container {
    position: fixed;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;    
    min-height: (0.3*3+0.5*2rem);
    z-index: inherit;
  }

  &__container {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    min-height: 0;
    background-color: rgba($light-color, 0.7);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: $s-llg-em $s-xl;
    opacity: 0;
    visibility: hidden;
    transition: 
      visibility 0s,
      opacity $speed1 ease-in-out,
      width $speed1 ease-in-out,
    ;

    &--active {
      width: 100%;
      min-height: 100vh;
      opacity: 1;
      visibility: visible;
    }
  }

  &__item {
    padding: $s-md-em $s-lg;
    @include font-styler($size: $s-xl, $color: $primary-color-2d);
    cursor: pointer;

    &:hover {
      color: $primary-color;
    }

    &--active {
      color: $primary-color;
      position: relative;

      &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: $s-md;
        width: 4rem;
        height: 0.2rem;
        background: $primary-color;
        margin-bottom: 0;
      }
    }
  }

  &__logo {
    order: 2;
  }

  &__img-logo {
    padding: 0 $s-lg;
    width: auto;
    max-height: 4.5rem;
  }
}
