@use '../abstracts/' as *;

.partners {
  padding: $s-xxl-em $s-xl;
  background: $secondary-color;
  color: $light-color;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    margin-bottom: $s-xxs-em;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: $s-lg-em 0;
  }

  &__img-container {
    flex: 0 0 33.333%;
    padding: 0 $s-sm-em;
  }
}