@use '../abstracts/' as *;

.toogler {
  cursor: pointer;
  display: inline-block;
  padding: 1rem;

  &__line {
    display: block;
    width: 2.8rem;
    height: 0.3rem;
    background: $secondary-color;
    margin-bottom: 0.5rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
