@use 'variables' as *;

@mixin font-styler ($family: $lato, $size: $s-lg, $weight: 400, $color: $secondary-color, $line-height: $s-xl) {
  font-family: $family;
  font-size: $size;
  font-weight: $weight;
  color: $color;
  line-height: $line-height;
  max-width: 60ch;
}
