// Colors

$primary-color: #1BC54B;
$secondary-color: #272a31;
$accent-color: #d3d3d3;
$accent-lighter-color: #f7f7f7;
$light-color: #fff;

// Spacing

$padx: 2rem;
$mary: 2rem;

// fonts-variables

$cocogoose: 'cocogoose', 'lato', sans-serif;
$lato: 'lato', sans-serif;