// Colors

$primary-color: #0A481C;
$secondary-color: #272a31;
$accent-color: #d3d3d3;

// Spacing

$padx: 2rem;
$mary: 2rem;

// fonts-variables

$cocogoose: 'cocogoose', 'lato', sans-serif;
$lato: 'lato', sans-serif;